<!-- alquiler-create.component.html -->
<h2>Nuevo alquiler</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label>Fecha recogida</label>
    <input type="date" formControlName="fechaRecogida" />
  </div>
  <div>
    <label>Fecha devolución</label>
    <input type="date" formControlName="fechaDevolucion" />
  </div>

  <h3>Películas disponibles</h3>
<div *ngIf="!peliculas.length">No hay películas en este videoclub.</div>

<div formArrayName="peliculasSeleccionadas">
  <div *ngFor="let peli of peliculas; let i = index">
    <label>
      <input type="checkbox" [formControlName]="i" />
      {{ peli.nombre }} ({{ peli.precioAlquiler | number : '1.2-2' }} €)
    </label>
  </div>
</div>


  <button type="submit" [disabled]="form.invalid || loading">
    Confirmar alquiler
  </button>

  <div *ngIf="loading">Procesando...</div>
  <div *ngIf="mensaje" class="ok">{{ mensaje }}</div>
  <div *ngIf="error" class="error">{{ error }}</div>
</form>
